/* Utilities */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "cyberpunkregular";
  src: url("../fonts/cyberpunk-webfont.woff2") format("woff2"),
       url("../fonts/cyberpunk-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #111111;
  color: #F4F4F4;
}

.active-page {
  padding: 20px;
  
  font-family: "cyberpunkregular";
  font-size: 28px;
  background-color: #b1040b;
}

.line-content-separator {
  margin-top: 10px;
  margin-right: 15%;
  margin-bottom: 10px;
  margin-left: 15%;
  height: 5px;
  background-color: #f7f705;
  border: none;
  border-radius: 2px;
}

/* Landing page */

#landing-page-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  min-width: 100vw;
  height: 100vh;
  background-color: #111111;
  text-align: center;
  gap: 20px;
}

#landing-page-flex-container img {
  width: 1000px;
}

#welcome-msg-landing-page {
  color: #FFFFFF;
}

#welcome-msg-landing-page p {
  margin-top: 10px;
}

.btn-white{
  display: inline-block;
  min-width: 200px;
  min-height: 64px;
  background-color: #F4F4F4;
  border-radius: 4px;
  font-size: 32px;
  padding: 12px;
  color: #010203;
  margin-left: 10px;
}

.btn-main {
  margin-top: 20px;
  min-width: 300px;
  min-height: 72px;
  font-size: 40px;
  padding: 16px;
}

.btn-white:hover {
  transition: 0.8s;
}

.btn-main:hover {
  background-color: #f7f705;
}

.btn-spotify:hover {
  background-color: #1DB954;
}

.btn-youtube:hover {
  background-color: #FF0000;
}

.btn-facebook:hover {
  background-color: #1877f2;
}

.btn-apple-music:hover {
  background-color: #f94c57;
}

.btn-twitter:hover {
  background-color: #1DA1F2;
}

/* Navbar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #111111;
  align-items: center;
  border-bottom: #f7f705 solid 5px;
}

.navbar-container ul {
  list-style: none;
  font-size: 0px;
}

.navbar-container li {
  display: inline-block;
}

.navbar-container li a{
  display: inline-block;
  padding: 20px;
  color: #F4F4F4;
  font-family: "cyberpunkregular";
  font-size: 28px;
}

.logo  {
  display: inline-block;
  padding: 20px;
  color: #F4F4F4;
  font-family: "cyberpunkregular";
  font-size: 28px;
}

.logo:hover {
  background-color: #f7f705;
  color: #010203;
  transition: 0.8s;
}

.navbar-container li a:hover {
  background-color: #f7f705;
  color: #010203;
  transition: 0.8s;
}

/* News */

.news-article-heading2 {
  text-align: center;
}

.news-article {
  margin-top: 10px;
}

.news-container-flex {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.news-container-avatar {
  min-width: 180px;
}

.newsman-avatar {
  position: relative;
  width: 100%;
}

.newsman-avatar img {
  width: 140px;
  height: 140px;
  margin-left: 10%;
}

.newsman-avatar-caption {
  position: absolute;
  bottom: -20px;
  width: 140px;
  height: 40px;
  background-color: #f7f705;
  text-align: center;
  color: #111111;
  font-family: "cyberpunkregular";
  font-size: 32px;
  margin-left: 10%;
}

.news-post-date {
  margin-top: 20px;
  text-align: center;
}

.news-content {
  margin-left: 20px;
  width: 100%;
}

/* Band */

.band-members-container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 0px;
  gap: 10px;
}

.samurai-member-fig {
  position: relative;
}

.samurai-member-fig img {
  width: 350px;
  height: 450px;
  border-radius: 4px;
}

.samurai-member-fig figcaption {
  position: absolute;
  background-color: #f7f705;
  border-radius: 4px;
  color: #111111;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  text-align: center;
  font-size: 32px;
}

.band-info {
  font-family: "cyberpunkregular";
  margin: 15%;
}

.samurai-member-fig figcaption:hover {
  opacity: 0.7;
}

/* Contact form */

.contact-form-flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* Dorphs */

#dorphs-links-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
}

#dorphs-links-flex-container h2 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dorphs-links-flex-container p {
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dorphs-links-section {
  display: flex;
  justify-content: center;
  text-align: center;
}

#dorphs-links-section ul {
  font-size: 0px;
  list-style: none;
}

#dorphs-links-section li {
  font-size: 32px;
  display: inline-block;
  margin-left: 20px;
}

#dorphs-links-section a {
  color: #FFFFFF;
  font-family: "cyberpunkregular";
}

#dorphs-links-section a:hover {
  border-bottom: solid #f7f705 2px;
}

.dorphs-media-flex-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.dorphs-media-flex-container h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dorphs-media-flex-container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dorpsh-media-iframe {
  border: none;
  border-radius: 12px;
  width: 560px;
  height: 315px;
}
/* Gigs */

#gigs-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.gigs-poster-container img {
  width: 350px;
  height: 450px;
}

.gigs-poster-container figcaption p {
  text-align: center;
}

/* Footer - main pages */

.footer-main {
  text-align: center;
  border-top: #f7f705 solid 5px;
}

.footer-main a {
  color: #F4F4F4;
}

.social-media-links-footer i {
  margin-top: 15px;
  margin-left: 10px;
}

.social-media-links-footer {
  min-height: 60px;
  font-size: 30px;
}

.copyright {
  margin-top: 10px;
}

.social-media-links-footer i:hover {
  transition: 0.8s;
}

.social-media-links-footer .fa-spotify:hover {
  color: #1DB954;
}

.social-media-links-footer .fa-youtube:hover {
  color: #FF0000
}

.social-media-links-footer .fa-facebook:hover {
  color: #1877f2;
}

.social-media-links-footer .fa-apple:hover {
  color: #f94c57;
}

.social-media-links-footer .fa-twitter:hover {
  color: #1DA1F2;
}

/* Media queries - landing page*/

@media screen and (max-width: 1500px) and (min-width: 981px) {
  .btn-social-link {
    min-width: 100px;
    min-height: 20px;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (max-width: 980px) {
  .btn-social-media-links-content {
    display: none;
  }
  .btn-main {
    min-width: 250px;
    min-height: 60px;
    font-size: 30px;
    padding: 15px;
  }
  .btn-white {
    min-width: 80px;
    margin-top: 10px;
  }
  #landing-page-flex-container img {
    width: 600px;
  }
}

/* Media queries - navbar*/

@media screen and (max-width: 895px) {
  .navbar-container {
    flex-direction: column;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .navbar-container li {
    width: 100vw;
    text-align: center;
  }

  .navbar-container li a {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Media queries - news articles */

@media screen and (max-width: 550px) {
  .newsman-avatar img {
    width: 60px;
    height: 60px;
  }

  .newsman-avatar-caption {
    width: 60px;
    height: 20px;
    font-size: 14px;
    bottom: -10px;
  }

  .news-container-avatar {
    min-width: 60px;
  }

  .news-post-date {
    font-size: 14px;
    margin-left: 9px;
    margin-top: 9px;
  }

  .news-container-flex {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* Media queries - dorphs page */

@media screen and (max-width: 895px) {
  .dorpsh-media-iframe {
    height: 300px;
    width: 350px;
  }

  #dorphs-links-section li {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }
}