/* Utilities */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Landing page */

#landing-page-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  min-width: 100vw;
  height: 100vh;
  background-color: black;
  text-align: center;
  gap: 20px;
}
#landing-page-flex-container img {
  width: 1000px;
}

.btn-white{
  display: inline-block;
  min-width: 200px;
  min-height: 64px;
  background-color: white;
  border-radius: 4px;
  font-size: 32px;
  padding: 12px;
  color: black;
}

.btn-white:hover {
  color: white;
  transition: 0.8s;
}

.btn-main:hover {
  background-color: gold;
}

.btn-spotify:hover {
  background-color: green;
}

.btn-youtube:hover {
  background-color: red;
}

.btn-facebook:hover {
  background-color: blue;
}

.btn-apple-music:hover {
  background-color: pink;
}

.btn-twitter:hover {
  background-color: aqua;
}